body {
    font-family: 'Lato', sans-serif;
    color: #424551;

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 90vw;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.text{
    font-size: 25px;
}

.title{
        font-size: 44px;
        line-height: 130%;
        letter-spacing: 1px;
        max-width: 500px;
        margin-bottom: 25px;
}

.header__logo {
    width: 60px;
    height: 60px;
}

.section {
    padding: 140px 0 125px;
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 190, 190);
}

/* ------------------------------------------ */

.header__top {}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}


.header__nav {
    display: flex;
    position: fixed;
    margin: 35%;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 8px;
}

.header__nav-list {
    display: flex;
    /* background-color: #013220; */
    color: #a7eb88;
    ;
    font-size: 1.4rem;
}

.header__nav-item {
    margin-right: 30px;
}

.header__nav-item:last-child {
    margin-right: 0px;
}
.home-item{
    margin-top: 3px;
}

.header__nav-link {
    line-height: 1.6;
    white-space: nowrap;
    transition: all .3s;
}

.header__nav-link:hover {
    color: #177245;
}

.header__body {
    flex-grow: 1;
}


.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin: 30px 0;
    /* margin-top: 15px; */
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 50px;
}

.header__text {

}

.header__row-inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px 0;
}

.header__row-title{
    font-size: 45px;
    margin-bottom: 50px;
}

.header__row-list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__row-item{
    margin-right: 12px;
    font-size: 25px;
}

/* ---------------------------- */

.main{
    background-color: rgb(181, 208, 248);
}

.main__why {
    padding: 180px 0 160px;
}

/* ------------------------------------- */

.why__inner{
    display: flex;
    justify-content: space-between;
}


.why__content {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

/* .why__content-title {
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 25px;
} */

/* -------------------------- */

.main__yourself{
    background-color: rgb(178, 240, 181);
}

.yourself__inner{
    display: flex;
    justify-content: space-between;
}

.yourself__content {
    display: flex;
    flex-direction: column;
}

.yourself__content-title{
    white-space: nowrap;
}

.yourself__content-img{
    margin-left: 120px;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 24px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color:none;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #a7eb88;
    border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #177245;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: none
}

::-webkit-scrollbar-button:vertical:end:increment {
    background: none
}